body {
    padding-bottom: 10vh;
    background-color: #0c54602e;
    background-image: url(./img/bg_img.png);
    background-size: cover;
    font-family: campton;
    height: inherit;
}

@font-face {
    font-family: campton;
    src: url(./fonts/campton.otf);
}

@font-face {
    font-family: alexbrush;
    src: url(./fonts/alexbrush.ttf);
}

@font-face {
    font-family: beaver;
    src: url(./fonts/beaver.ttf);
}

@font-face {
    font-family: heart;
    src: url(./fonts/heart.ttf);
}

#container-background {
    background-color: white;
    background-image: url(./img/menu-border.png);
    background-size: contain;
    background-repeat: repeat-y;
    padding-left: 70px;
}

/* Navbar */
nav {
    background-color: #1b191b;
}

.nav-link {
    color: #ffff;
}

.nav-link:hover, 
.nav-item.active > .nav-link {
    color: #eaeaea;
}

/* Menu */
.calendar {
    display: none;
}

#menu-text {
	font-family: beaver;
	margin: 0;
	padding: 12px;
	text-align: center;
	font-size: 15vh;
	font-weight: 1;
	display: block;
	position:relative;
}

#main-menu h1.design {
    font-size: 4.3vh;
}

h1.design {
    color: rgb(10,10,10);	
	font-size: xx-large;
	font-family: beaver;
	font-weight: 1;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

div.menu-items ol {
	list-style-type: none;
	padding: 0;
}

div.menu-items ol > li {
	color: rgb(15,15,15);
	font-family: heart;
	font-size: 2.5em;
	font-weight: 600;
	text-align: center;	
	margin-bottom: 3%;
}

div.menu-items ol > ul{
	font-size: 1.25em;;
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	margin-bottom: 5%;
}

div.menu-items ul > li {
	list-style-type: none;
	font-family: serif;
	font-size: 1.25em;
	margin-bottom: 3px;
}

div.menu-items ol > ul > li:hover{
	transition: 0.4s ease;
	cursor: pointer;	
	transform: scale(1.45);
	font-family: garamonds;
}

#datepicker {
    margin-left: -10vw;
}

/* Canteens */
.card {
    margin-bottom: 3vh;
}

/* Food */
.food-img {
	width: 60vw;
    margin-left: 10vw;
    border-radius: 50%;
}

#food-details {
	color: black;
    background-color: white;
}

#food-details #design-top {
    margin-bottom: 5vh;
}

.food-name {
	font-family: heart;
	font-size: 5.5vh;
}

#with {
    font-family: beaver;
    font-size: 3vh;
}

.food-place {
    padding-left: 2vw;
}

.food-price {
	text-align: right;
}

/* Here */
#foodList .list-group-item:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

#foodList .list-group-item h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-group-text {
    background-color: #ffff;
}

.input-group-prepend + input {
    border-left: none;
    padding-left: 0;
}

textarea {
    resize: none;
}

#foodModal .modal-title {
    font-size: 24px;
    font-weight: bolder;
}

#foodModal .close span {
    line-height: 1.5;
}

#foodModal .price-prepend {
    font-size: 24px;
}

#foodDescription {
    width: 100%;
    font-size: 16px !important;
    font-weight: bolder;
}

#foodList input[type="checkbox"] {
    display: none;
}

#foodList label {
    cursor: pointer;
}

#foodList input[type="checkbox"] + label:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    margin-right: 20px;
    color: #1b191b;
}

#foodList input[type="checkbox"]:checked + label:before {
    content: "\f058";
    color: #5cb85c;
}

/* About */
#main {
    width: 100%;
    padding-top: 5vh;
}

#about h2 {
    text-align: center;
    padding-bottom: 2vh;
}

#about div {
    padding-bottom: 4vh;
}

.person p span {
    display: block;
    text-align: center;
}

.person p {
    padding-top: 2vh;
}

.person {
    padding-left: 3vw;
}

.person img {
	max-width: 120px;
	border-radius: 15px;
}

.person img:hover {
	transition: 0.3s ease;
	transform: scale(1.2);
	box-shadow: 1px 1px 100px white;
}

@media screen and (max-width: 600px) {
    .person {
        font-size: 2vh;
    }
    .person img {
	   max-width: 27vw;
    }
}

@media screen and (min-width: 601px) {
    #menu-text {
        font-size: 20vh;
    }
    
    .calendar {
        float: right;
        display: block;
    }
    
    .food-name {
        font-size: 8vh;
    }
    
    #with {
        font-size: 5vh;
    }
    
    #food-details #design-top {
        padding-top: 7vh;
    }
    
    #design-bottom {
        padding-bottom: 10vh;
    }
    
    .food-img {
        width: 28vw;
        margin-left: 0;
    }
    
    #foodModal .modal-content {
        width: 80vw;
    }
    
    #foodModal {
        margin-left: -43.5vw;
    }
}