body {
    padding-bottom: 100px;
}

nav {
    background-color: #1b191b;
}

.nav-link {
    color: #ffff;
}

.nav-link:hover, 
.nav-item.active > .nav-link {
    color: #eaeaea;
}

#foodList .list-group-item:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

#foodList .list-group-item h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#foodList .food-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input-group-text {
    background-color: #ffff;
}

.input-group-prepend + input {
    border-left: none;
    padding-left: 0;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	background-color: #1b191b;
	color: #ffff;
	border-radius: 50px;
	text-align: center;
    box-shadow: 2px 2px 3px #999999;
    z-index: 2;
    cursor: pointer;
}

textarea {
    resize: none;
}

.food-img-preview {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#foodAddedAlert {
    display: none;
}

.food-img-lg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.description {
    font-size: 14px;
    line-height: 1.2;
}

#foodModal .simple-form {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000000;
}

#foodModal .modal-title {
    font-size: 24px;
    font-weight: bolder;
}

#foodModal .close span {
    line-height: 1.5;
}

#foodModal .price-prepend {
    font-size: 24px;
}

#foodDescription {
    width: 100%;
    font-size: 16px !important;
    font-weight: bolder;
}

.circular-button {
    width: 60px;
    height: 60px;
    background-color: #1b191b;
    color: #ffff;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
}

#deleteFoodForm {
    display: none;
}
