body {
    padding-bottom: 10vh;
    background-color: #0c54602e;
    background-image: url(./assets/bg_img.png);
    background-size: cover;
    font-family: comfortaa;
    height: inherit;
}

nav {
    background-color: #1b191b;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav-link {
    color: #ffff;
}

.nav-link:hover, 
.nav-item.active > .nav-link {
    color: #eaeaea;
}

main {
    padding-top: 5vh;
}

#foodList .list-group-item:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.food-img {
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input-group-text {
    background-color: #ffff;
}

.input-group-prepend + input {
    border-left: none;
    padding-left: 0;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	background-color: #1b191b;
	color: #ffff;
	border-radius: 50px;
	text-align: center;
    box-shadow: 2px 2px 3px #999999;
    z-index: 2;
    cursor: pointer;
}

textarea {
    resize: none;
}

.food-img-preview {
    width: auto;
    height: 70px;
    border-radius: 50%;
}

#foodAddedAlert {
    display: none;
}

.food-img-lg {
    width: auto;
    height: 100px;
    border-radius: 50%;
}

.description {
    font-size: 14px;
    line-height: 1.2;
}

#foodModal .simple-form {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000000;
    padding-left: 0;
}

#foodModal .simple-form:focus {
    border-bottom: 3px solid #5cb85c;
}

#foodModal .modal-title {
    font-size: 24px;
    font-weight: bolder;
}

#foodModal .close span {
    line-height: 1.5;
}

#foodModal .price-prepend {
    font-size: 24px;
}

#foodDescription {
    width: 100%;
    font-size: 16px !important;
    font-weight: bolder;
}

.circular-button {
    width: 60px;
    height: 60px;
    background-color: #1b191b;
    color: #ffff;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
}

#deleteFoodForm {
    display: none;
}

#doneButton {
    display: none;
}

#cancelButton {
    display: none;
}

#imageUploader {
    display: none;
}

.btn-remove {
    background-color: transparent;
    font-size: 24px;
    color: #d9534f;
}

#dashboardForm {
    width: 100%;
}

#foodList input[type="checkbox"] {
    display: none;
}

#foodList label {
    cursor: pointer;
}

#foodList input[type="checkbox"] + label:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    margin-right: 20px;
    color: #1b191b;
}

#foodList input[type="checkbox"]:checked + label:before {
    content: "\f058";
    color: #5cb85c;
}

.date-arrow {
    color: #000000;
}

.date-arrow:active, .date-arrow:hover {
    color: #000000;
}

#dateInput {
    display: none;
}

#modalTitle {
    font-weight: bolder;
}

#deleteDashboardForm {
    display: none;
}

#foodId {
    display: none;
}

#main {
    width: 100%;
    padding-top: 5vh;
}

#about h2 {
    text-align: center;
    padding-bottom: 2vh;
}

#about div {
    padding-bottom: 4vh;
}

.person p span {
    display: block;
    text-align: center;
}

.person p {
    padding-top: 2vh;
}

.person {
    padding-left: 3vw;
}

.person img {
	max-width: 120px;
	border-radius: 15px;
}

.person img:hover {
	transition: 0.3s ease;
	transform: scale(1.2);
	box-shadow: 1px 1px 100px white;
}

