@font-face {
    font-family: ShineBright;
    src: url("font/ShineBright.ttf");
}

/* Header */
header {
    background-color: #b2bec3;
    color: #ffffff;
    -webkit-position: sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-wrapper {
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#branding {
    font-size: 32px;
    font-family: ShineBright;
    text-align: center;
}

.search-container {
    background-color: #ffffff;
    color: #636e72;
    padding: 0 5px;
    border-radius: 15px;
}

#searchBar {
    outline: none;
    background-color: transparent;
    border: none;
}

#menuToggler {
    font-size: 24px;
}

/* Main */
main {
    background-color: #2d3436;
    padding: 10px;
    height: 100vh;
}

#sectionA h2, .daily-menu h3 {
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
    font-family: ShineBright;
    font-size: 48px;
    font-weight: 100;
}

.daily-menu {
    background-color: #ffffff;
    padding: 10px 5px;
}

.daily-menu h3 {
    color: #2d3436;
}

.daily-menu ul {
    list-style-position: inside;
    padding: 0 30px;
    margin-bottom: 30px;
}